<div class="bs-docs-section">
	<div class="jumbotron">
		<h1>MODERN | GLASS</h1>
		<p>Living in todays world of glass</p>

		<p>
			<%= link_to 'New', new_products_path, :class => "btn btn-primary btn-lg" %>
		</p>
	</div>
</div>


