<div class="bs-docs-section">
	<h1>Search Results</h1>

<% if @products.empty? %>

	<p>No matches found.</p>
	
<% else %>
	<%= render @products %>
<% end %>

<% if @products_model.empty? %>

	<p>No matches found.</p>
	
<% else %>
	<%= render @products %>
<% end %>

</diV>