<div class="bs-docs-section">
	<div class="page-header">
		<h1>Search Results</h1>
	</div>


<% if @products.empty? %>

	<p>No matches found.</p>
	
<% else %>
	<%= render @products %>
<% end %>
</diV>