<h1>All Products</h1>

<% @products.each do |product| %>
	<h2><%= link_to product.model, product_path(product) %></h2>
	<% if product.image_filename %>
		<p><%= image_tag product.image_filename, :width => '250' %></p>
	<% end %>
	<p><%= number_to_currency product.price %></p>
<% end %>

<%= link_to 'Home', root_path %>

