// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$strikeout: line-through;
$inline-padding: 10px;

.image_bg {
  background: url('../images/bg.jpg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.original-crossout{
	text-decoration: $strikeout;
	display: inline;
	padding-right: $inline-padding;
}

.jumbotron{
	.page_para{
		text-align: left;
		font-size: 15px;
	}
}

.remove{
	width: 50px;
}

.product_info{
	padding: 150px;
}

.product_model{
	width: 300px;
}

